body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

li{
    list-style-type:none: 
    display:  
}


nav{

    background-color:black;   
    color:white;
    padding: 30px;
    position: sticky;
    top: 0;
    width: 100vw;
    font-size: 20px; 

}

.one{

    font-size: 20px;
    color: green;
}

h1{
    color: red;
}
.two{
    padding: 30px;
}
.abc
{
    
    margin: 10px 10px 2px 0px;
    display: block;
}

